*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 100%;
	background-color: #e5e5e5;
}
.app{
	display:flex;
	justify-items: center;
	flex-direction: column;
}
.title{
	text-align: center;
	margin-top: 2rem;
	font-size: 3rem;
}
.input_box{
	display:flex;
	justify-items: center;
	align-items:center;
	margin:1rem auto;
}
.task_input{
	outline: none;
	border-radius:10px;
	padding:.5rem .7rem;
	margin:.5rem;
	font-size:1.5rem;
}
.add_button{
	background-color: #5a3bf8;
	padding:.7rem;
	border-radius:10px;
	outline: none;
	border: solid 1px #3319ff;
	color: #fff;
	margin:.5rem;
	font-size:1rem;
}
.add_button:active{
	background-color: #6f53ff;
	padding:.5rem;
}
.tasks_box{
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	margin:1rem auto;
}
.remove_button{
	background-color: #cb0c59;
	padding:.7rem;
	border-radius:10px;
	outline: none;
	border: solid 1px #86062f;
	color: #fff;
	margin:.5rem auto;
	font-size:1rem;
	width:max-content;
}
.remove_button:active{
	background-color: #e02b64;
	padding:.5rem;
}